@font-face {
    font-family: 'supermarketregular';
    src: url('../fonts/supermarket.eot');
    src: url('../fonts/supermarket.eot?#iefix') format('embedded-opentype'),
         url('../fonts/supermarket.ttf') format('truetype'),
         url('../fonts/supermarket.svg#supermarketregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------- topic #2E2E2E ------------*/
/* ---------- p #E6E6E6 ------------*/


* {
    padding: 0px;
    margin: 0px;
}
body {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color:#2E2E2E; min-width: 320px !important;}
li {list-style-type: none;}

body.background {background-color: #f2f2f2;}
.row {margin: 0px;}
.header {
    width: 100%; 
    height: 52px; 
    background-color: #00aaaa;
    padding: 5px 4%;
}
.header img {width: 120px; float: left;}

.header .login > li,
.header .login p{
    float: right; 
    width: 100px; 
    font-size: 16px; 
    color: white; 
    margin-top:10px;
    text-align: center;
}
.header .login .dropdown-menu li {text-align: left;}
.header .login .dropdown-menu {top:120%; left:-100%;}
.header .login .dropdown-menu span {padding: 0 2%;}

.header a {color: white; font-size: 17px;}

.sub-header {
    width: 100%; 
    background-color: #fafafa;
    padding: 1% 0 0.5% 0;
}
.sub.container {
    text-align: left;
    color:#2e2e2e;
    padding: 0px;
}
.sub-header a {color:#2e2e2e;}
.sub-header a:hover {color: #00aaaa; text-decoration: none;}
.sub-header p {font-size: 20px;}
.sub-header span {padding:0 1%;}


.header .glyphicon-chevron-down:before {font-size: 14px;}

.dropdown button {background-color: transparent; border:none; }

.container {width: 950px; padding-bottom: 4%; text-align: center;}
.footer {
    background-color: #2d2f31;
    width: 100%;
    height: auto;
    color: white;
    font-size: 16px;
    padding: 3.5% 0 1% 0;
}
.footer .container {text-align: left; padding:0%;}
.footer .container select {width:55%; margin: 25px 0;}

.footer .col-footer,
.footer .logo-footer {
    width: 24%; 
    float: left; 
    padding-left: 3%;}
.footer .logo-footer {width: 28%;}
.footer p {
    font-weight: 200; 
    font-size: 14px;
    line-height: 180%;
}
.footer img {padding: 5px 0 20px 0;}
.footer .topic {font-weight: 600; font-size: 16px;}
.footer .copy-right {clear: both; padding:2% 0 2% 3%;}


.modal-dialog {width: auto;}
.modal-header {
    background-color: #f2f2f2; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#register .modal-content,
#login .modal-content{
    text-align:center; 
    padding:0px;
    font-size: 17px;
}

#register .modal-content {width: 50%; left:25%;}
#login .modal-content {width: 35%; left:32%;}

.modal-content .modal-footer {
    text-align: left; 
    margin-top: 0px; 
    background-color: #f2f2f2;
    padding: 3% 10%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.modal-content .modal-footer p {margin:0px;}
.modal-content .row {margin-bottom: 4%;}


.modal-content .topic,
.modal-content span,
.modal-content a {color:#00aaaa;}


.modal-body {padding:5% 10%; color:#6E6E6E;}
.login-box .name,
.modal-body .name {padding:1.5% 0 0 0; font-size: 17px; width: 30%; float: left;}
.login-box .input,
.modal-body .input {width: 70%; float: right;}
.login-box .input-radio {padding-top: 10px;}
.modal-body .input-radio {padding:1.5% 15px 0 15px;}

.modal-body .form-inline select {width: 31%;}
.modal-body .form-inline {text-align: left;}
.modal-body .input span {padding:0 5% 0 2%; color: #6E6E6E;}
.modal-body .checkbox {margin-bottom: 4%;}

.modal-body p {text-align: left;}
.modal-body button {padding: 2% 5% 2.5% 5%; font-size: 16px;}

.btn-green {background-color: #00aaaa; color:white;}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  color:#BDBDBD;
}
.rating span:hover:before,
.rating span:hover ~ span:before,
.rating span.active:before {
   content: "\2605";
   position: absolute;
   color:#FACC2E;
}

.rating span.head:hover:before,
.rating span.head:hover ~ span.head:before,
.rating span.head.active:before {
   content: "";
}

.nav-pills > li a,
.doctor-profile .nav-pills > li.active a {
    font-size: 18px; 
    background-color: white;
    margin-bottom: -2px;
    border: 2px solid #e6e6e6;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #2e2e2e;
    border-bottom: none;

}

.nav-pills > li a {
    background-color: #00aaaa; 
    color:white;
}
.nav-pills > li > a:hover, 
.nav-pills > li > a:focus {background-color: #00aaaa; color:white;}


.notification {width: 250px;}
.notification li {padding: 1% 2%; font-size: 14px;}
.notification li .alert-danger {padding: 4%;}
.notification li .alert-danger a {color:#6e6e6e;}
.notification li .alert-danger a:hover {text-decoration: none;}
.dropdown .glyphicon-bell {padding-top: 2px; font-size: 18px; color:white;}
.dropdown .bg-warning {position: absolute; left: 54%; top:-4px; background-color: #DF0101;}
.alert-danger div {
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    background: #FA5858; 
    float: left;
    margin-right: 4px;
    text-align: center;
}
.alert-danger div .glyphicon-bell {margin-top: 5px;}
.header .login .dropdown-menu.notification {left:-180%;}
/* ---------- home ------------*/

.home .header {
    width: 100%; 
    height: 60px; 
    position: absolute; 
    padding: 1% 5%;
    background-color: transparent;
    top:0px;
}

.home .video {
    height: 82%;
}
.home .img-background {
    height: 100%;
    width: 100%;
}

.home .video video{
    width: 1500px;
    position: absolute;
}

.home .video .form-inline { text-align: center;}

.home .header p {
    float: right; 
    /*width: 8%;*/ 
    font-size: 18px; 
    color: white; 
    margin-top:10px;
}

.home .video .bg-search,
.home .video .search-box {
    width: 50%;
    height: 170px;
    position: absolute;
    color: white;
    left: 25%;
    bottom: 35%;
    padding: 5px 2% 8px 2%;
}
.home .video .bg-search {
    background-color: #1C1C1C; 
    opacity: 0.7; 
    height: 170px;
}
.home .search-box select {width: 40%;}

.search-box .topic {font-size: 26px; text-align: center;}

.search-box button {width: 16%;}
.search-box select {width: 40%;}

.search-box p {margin:15px 0; font-size: 18px;}
.search .search-box p {font-size: 16px;}
.search-box input[type="text"] {
    width: 40%; 
    font-size: 16px;
}
.search-box input[type="radio"] {margin: 0 1% 0 3%;}

.home .doctor {padding: 2.5% 0;}
.home .doctor .choice {
    width: 33.33%;
    text-align: center;
    padding: 0 4.5%;
    float: left;
}

.home .doctor .choice button {
    border-radius: 50%; 
    border:1px solid #A4A4A4;
    margin-bottom: 10px;
    outline:none; 
}
.home .doctor .choice p {font-size: 16px; color: #6E6E6E;}
.home .doctor .choice .topic {font-size: 20px; color: #585858;}
.home .doctor .choice .glyphicon {
    width: 35px; 
    height: 35px; 
    font-size: 25px; 
    margin-top: 10px;
    color: #585858;
}

 
.home .more-info{
    width: 100%;
    height: 340px;
    position: relative;
    color:white;
}

.home .more {width: 100%; position: absolute; text-align: center;}
.home .more-info img {width: 100%; height: 100%; position: absolute;}
.home .more-info .topic {
    font-size: 25px;
    margin:4% 0 1% 0;
}
.home .more-info p {font-size: 19px; line-height: 200%;}
.home .more-info button {
    padding: 12px 20px; 
    font-size: 18px;
    background-color: transparent;
    color: white;
    border:2px solid white;
    margin: 1%;
}




/* ---------- join ------------*/
.join .header {
    background-color: black;
    background-color: rgba(0,0,0,.5);
}

.join {
    background-image: url('../image/room.jpg');
    background-repeat:no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.join .partner,
.join .intro {
    width: 100%; 
    color: white; 
    position: relative;
    height: auto;
    background-color: rgba(0,0,0,.5);
    padding: 4% 0;
}
.join .intro h1 {margin: 0 0 2% 0;}
.join .intro p {font-size: 22px; line-height: 190%;}
.join .intro img {position: relative; margin-top:;}
.join .intro button {
    padding: 10px 20px; 
    font-size: 20px; 
    margin-top:10px; 
    /*position: absolute;*/
    /*bottom:32%;
    left:43.8%;*/
}
.join .infomation {float: right; width: 50%;}
.join .infomation.left {float: left;}


.join .content {
    background-color: white;
    padding: 5%;
}
.join .content .topic {font-size: 21px; color:#00aaaa; margin-top: 10%;}
.join .content p {font-size: 18px; text-align: left; line-height: 180%;}
.join .content img {width: 40%;}
.join .content .col-md-5 {text-align: center;}

.join .partner {text-align: center; font-size: 18px;}


.join .partner .partner-left,
.join .partner .partner-right {
    padding: 0 20px;
    text-align: left;
    float: left;
}
.join .partner .subpartner-left,
.join .partner .subpartner-right {padding: 0px 10px 0 0;}

.join .partner .subpartner-right {width: 65%; float: right;}
.join .partner .partner-left {width: 60%}
.join .partner .subpartner-left {width: 33%; float: left;}
.join .partner .partner-right {width: 40%}

.join .partner .partner-right .row {padding: 0px;}

.join .partner .topic {font-size: 28px; margin-bottom: 0px;}
.join .partner .row input {height: 38px;}
.join .partner select {height: 38px;}
.join .partner input[type="checkbox"] {margin: 5px 10px;}
.join .partner span {color:#00aaaa;}
.join .partner button {margin-top: 2%; padding: 10px 15px; font-size: 18px;}
.join .partner p {margin-top: 20px;}
.join .row {padding: 0px 4%;}
.join .partner .partner-left .row {padding: 0;}
.join .partner .topic .container {padding-top: 0px;}

.join .about img {width:50%;}


/* ---------- search page ------------*/



.search.container {width: 950px; padding-bottom:0px;}
.search .map {
    display: none;
    border: 1px solid #F5ECCE; 
    padding: 0px;  
    position: absolute;
    top:160px;
    width: 33%;
    display: block;
    right: 0px;
    /*right: calc(12.2% - 5%);*/
}

.search .map img {width: 100%; }
.search .col-md-8 {padding: 0px;}


.search .search-box select {width: 35%;}
.search .search-box input[type="text"] {width: 45%;}

.search .col-md-12 {padding: 0px; width: 100%!important;}
.search .search-box {
    text-align: left; 
    background-color: #EBF4F6;
    padding:4% 2% 2% 2%;
    border:1px solid #d8d8d8;
    color:#2E2E2E;
    position: relative;
    vertical-align: top;
    height: 160px;
    z-index: 5;
    
    zoom: 1;
    *display: inline;
    vertical-align: top;
    display: block;
}



.search .table .image {text-align: center;}
.search .table .infomation {padding-right: 2%;}
.search .table .day {background-color: #FBF8EF;}
.search .table img {width: 80%;}

.search .table tr {border:1px solid #d8d8d8; background-color: white;}
.search .table td {padding: 2% 0;}
.search .table td p{
    margin:0px; 
    line-height: 180%; 
    font-size: 15px;
    color:#6E6E6E;
}
.search .table p a {color:#00aaaa;}
.search .table button {margin-top:10%;}


.search .table .address {font-size: 14px; color:#848484;}
.search .table .topic {color:#00aaaa; text-decoration: underline; font-size: 16px;}
.search .table .name {color:#00aaaa;}

.search .pagination li.active a{background-color: #00aaaa; color: white;}
.search .pagination li a {color:#00aaaa;}

/* ---------- appoint ------------*/


.appoint {padding-top: 2%;}
.doctor-profile.container,
.patient.container,
.appoint.container {width:950px;}

.appoint .appointment {
    width: 64%; 
    float: left; 
    margin-bottom: 5%; 
    background-color: white;
    padding-bottom: 4%;
    border:2px solid #E6E6E6;
}

.appoint .appointment .content {
    width: 90%;
    margin:auto;
    text-align: left;
    font-size: 16px;
    color:#585858;
}
.appoint .appointment .row {padding: 4% 5%;}
.appoint .appointment select {width: 25%;}
.appoint .appointment input[type="radio"] {margin:0 1% 0 1%;}
.appoint .appointment button {padding: 1% 5%;}
.appoint .appointment .select {width: 50%; font-size: 16px;}

.appoint .appointment .col-md-12,
.appoint .appointment .col-md-6 {padding: 0 0 0 5.5%;}
.appoint .appointment .lastname {padding: 0px;}

.appoint .appointment .more {
    font-size: 15px; 
    color:#848484; 
    margin-bottom: 6%;
}
.patient .tab-content .topic,
.appoint .appointment .topic {color:#424242; padding-top: 2%;}

.appoint .process {width: 100%; height: 80px;}
.appoint .process .row {padding: 4% 0;}

.appoint .login-box {
    width: 100%;
    height: auto;
    border:2px solid #E6E6E6;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 4%;
}
.appoint .login-box .body {
    text-align: left;
    padding: 4%;
    text-align: center;
}
.appoint .login-box .row {padding: 1% 2%;}

.appoint .login-box .form-name {width: 40%; float: left;}
.appoint .login-box .form-input {width: 60%; float: right;}

.appoint .login-box p {padding-top: 10px; text-align: left;}
.appoint .login-box input {width: 90%;}
.appoint .login-box .forgot {color:#00aaaa; margin-top: 2%;}

.appoint .login-box .form-inline {padding-top: 10px; text-align: left;}
.appoint .login-box select {width: 29%;}
.appoint .login-box input[type="radio"],
.appoint .login-box input[type="checkbox"] {width: auto;}
.appoint .login-box input[type="checkbox"] {margin:1% 2% 0% 0%;}

.appoint .login-box .input-radio span {padding-right: 8px;}

.appoint .login-box .foot,
.appoint .login-box .head {
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    padding: 1.5% 4%;
    color: #2E2E2E;
    font-weight: 500;
}

.appoint .doctor {
    text-align: left;
    padding: 1%;
    border:1px solid #E6E6E6;
    font-size: 15px;
    width: 34%;
    float: right;
    color: #6E6E6E;
    margin-bottom: 5%;
    background-color: #fafafa;
}
.appoint .doctor .col-md-5 {padding-right: 0px;}
.appoint .doctor .col-md-12 {padding-bottom: 4%;}
.appoint .doctor img {width: 100%;}
.appoint textarea {width: 100%;}
.appoint .doctor .header {
    background-color:#E6E6E6; 
    font-size: 16px;
    margin-bottom: 4%;
    padding:5% 0 0% 5%;
    color: #2E2E2E;
}

.appoint .doctor .head {font-weight: 600; font-size: 16px; color:#2E2E2E;}
.appoint .doctor .topic {
    font-weight: 600; 
    font-size: 14px;
    margin: 15px 0 5px 0;
    color:#2E2E2E;
}
.appoint .doctor .address {font-style:italic;}


/* ---------- patient ------------*/

.doctor-profile,
.patient {padding: 2% 0 4% 0;}
.patient .patient-list {
    border:2px solid #E6E6E6;
    height: auto;
    width: 100%;
    font-size: 15px;
    color: #6E6E6E;
    padding: 1% 2%;
    margin-bottom: 5%;
}

.patient .nav-pills li {width: 49.5%; font-size: 18px;}
.nav-pills > li + li {margin-left: 1%;}
.patient .col-md-8 {text-align: left; padding-left: 4%;}
.patient button {width: 100%; margin: 10% 0 0 0; padding: 8%; font-size: 16px;}


.patient .tab-content .head {color:#00aaaa; font-size: 18px;}
.patient .tab-content .topic {color: #585858; font-weight: 600; padding-top: 1%;}
.patient .tab-content .address {font-style: italic;}
.patient .tab-content .patient-box.last {border-bottom:0px;}
.patient .tab-content span {color:#6E6E6E; font-weight: 400;}

.patient .tab-content .patient-box {
    padding: 2% 0;
    border-bottom:2px solid #f2f2f2;
}





/* ---------- doctor-profile ------------*/

.doctor-profile .profile-overview {margin-bottom: 2%; }

.doctor-profile .overview {
    text-align: left; 
    font-size: 17px;  
    padding: 2% 0; 
    background-color: #f2f2f2;
    height: 310px;
}
.doctor-profile .overview p {color: #00aaaa; font-size: 15px;}
.doctor-profile .overview img {border:1px solid #A4A4A4;}

.doctor-profile .overview .head,
.doctor-profile .overview .topic {color:#2E2E2E; font-weight: 600; font-size: 15px;}
.doctor-profile .overview .head {font-size: 16px;}

.doctor-profile .content ,
.doctor-profile .overview {width: 58%; float: left; margin-bottom: 2%;}

.doctor-profile .overview {width: 59%;}
.doctor-profile .address {font-size: 14px; color:#6E6E6E; font-style: italic;}

.doctor-profile .booking,
.doctor-profile .map {width:  40%; float: right;}

.doctor-profile .map {margin-bottom: 5%;}

.doctor-profile ul {font-size: 18px;}

.doctor-profile .tab-booking,
.doctor-profile .tab-content {
    padding: 2%;
    border:2px solid #E6E6E6;
    text-align: left;
    font-size: 16px;
    background-color: white;
}


.doctor-profile .header {
    position: absolute;
    top:-20px;
    width:50%;
    height: 50px;
}

.doctor-profile .booking .header {
    color:white;
    position: relative;
    top:0px;
    width:100%;
    height: 46px;
    padding-top: 12px;
    text-align: left;
    font-size: 16px;
    background-color: #00aaaa;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.doctor-profile .booking .meeting {
    width: 100%; 
    border:2px solid #E6E6E6;
}
.doctor-profile .booking .meeting .head {
    width: 100%;
    background-color: #f2f2f2;
    padding: 2%;
}
.doctor-profile .booking .meeting .body {height: 100px; padding: 5%;}
.doctor-profile .booking .row { margin: 5% 0;}
.doctor-profile .booking .topic {font-size: 16px;}

.doctor-profile .tab-content p {color:#6E6E6E; font-size: 14px;}
.doctor-profile .tab-content .topic {
    color:#2E2E2E; 
    font-size: 16px; 
    margin-top: 3%;
    font-weight: 500;
}
.doctor-profile .tab-content span.head {
    width: 200px; 
    font-size: 15px; 
    color: #2E2E2E;
    margin-left: 2%;
    font-weight: 500;
}
.doctor-profile .tab-content .type-rating p,
.doctor-profile .tab-content .rating {padding-left: 15px;}
.doctor-profile .tab-content .row .col-md-12 {font-size: 14px;}
.doctor-profile .tab-content .type-rating {width: 33%; float: left; }
.doctor-profile .tab-content #review .row {padding: 1% 0 4% 0; border-bottom: 2px solid #e6e6e6;}
.doctor-profile .tab-content #review .row.last {border-bottom: none;}

.panel-title a,.panel-title a:hover{text-decoration: none; font-size: 15px;}


/* ---------- setting  ------------*/

.setting {padding: 4% 0; font-size: 16px;}
.setting .body-setting {border:2px solid #E6E6E6;}
.setting .body-setting .content {
    width: 70%;
    margin: auto; 
    padding: 2%; 
    text-align: left;
}
.setting .body-setting .row .password {width: 60%;}
.setting .body-setting .row .center {text-align: center;}
.setting .body-setting .row p {margin-top: 5%;}
.setting .body-setting .row select {width: 30%;}
.setting .body-setting .row button {margin: 5%; padding: 1.5% 4%; font-size: 16px;}

.setting .setting-right,
.setting .setting-left {width: 49%; float: right;}

.setting .setting-left {float: left;}
.setting .topic {
    font-size: 18px; 
    color:#00aaaa; 
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
    padding: 1%;
}


.breadcrumbs-alt {
    list-style-type:none;
    margin:0px 0 20px;
    overflow:hidden;
    padding:0;
    width:100%;
}

.breadcrumbs-alt li.current,
.breadcrumbs-alt li {
    background:#E0E1E7;
    color:#444444;
    float:left;
    font-size:16px;
    padding:2% 4%;
    position:relative;
    text-decoration:none;
    float:left;
    margin:0 5% 0 0;
}
.breadcrumbs-alt li.current {background:#1FB5AD; color:#fff;}

.breadcrumbs-alt li.current:before,
.breadcrumbs-alt li.last:before,
.breadcrumbs-alt li.next:before {
    border-color:#E0E1E7 #E0E1E7 #E0E1E7 rgba(0,0,0,0);
    border-style:solid;
    border-width:1.5em 0 1.7em 1em;
    content:"";
    left:-1em;
    margin-top:-1.6em;
    position:absolute;
    top:50%;
}
.breadcrumbs-alt li.current:after,
.breadcrumbs-alt li.next:after {
    border-bottom:1.5em solid rgba(0,0,0,0);
    border-left:1em solid #E0E1E7;
    border-top:1.5em solid rgba(0,0,0,0);
    content:"";
    margin-top:-1.5em;
    position:absolute;
    right:-1em;
    top:50%;
}
.breadcrumbs-alt li.current.last:after {border:0px;}

.breadcrumbs-alt li.current:before {border-color:#1FB5AD #1FB5AD #1FB5AD rgba(0,0,0,0);}
.breadcrumbs-alt li.current:after {border-left:1em solid #1FB5AD;}

.breadcrumbs-alt span.info {display: block;}
.breadcrumbs-alt span.step {display: none;}

.panel-group .panel + .panel {margin-top: 0px; border:none;}
.panel-group {margin-bottom: 0px;}
.panel-heading.regist {border-top: 2px solid #ddd;}
.panel-group .panel {border:none; border-radius: 0px; text-align: center;}

